:root {
  box-sizing: border-box;

  font-size: 62.5%;
}
.darkmode{
  --primary-color: #000;
  --secondary-color: red;
  --tertiary-color: #fff;
  --Wfume: rgba(255, 255, 255, .4);
  --Bfume: rgba(0, 0, 0, .4);
}
.lightmode{
  --primary-color: #fff;
  --secondary-color: red;
  --tertiary-color: #000;
  --Bfume: rgba(255, 255, 255, .4);
  --Wfume: rgba(0, 0, 0, .4);
}

body {
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: var(--tertiary-color);
}

h2 {
  font-size: 2.5rem;
}
p {
  font-size: 1.8rem;
}

.background-ps {
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.background-sp {
  background-image: linear-gradient(to left, var(--primary-color), var(--secondary-color));
}

#menu {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(255, 255, 255, 0.6) 5px 1px 20px;
  z-index: 1;
}

#menu ul {
  display: inline-block;
  margin-right: 10rem;
  float: right;
}

#menu ul li {
  display: inline-block;
  padding: 0px 20px;
  transition: color, background-color 0.7s;
  color: var(--tertiary-color);
}

#menu ul li:hover {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
}

#dark-light {
  display: inline-block;
}

#dark-light p {
  color: var(--tertiary-color);
  font-size: 2.4rem;
  display: inline-block;
  margin-left: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 10px;
  top: -15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tertiary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--secondary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--tertiary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--tertiary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#capa {
  height: 1020px;
}

#capa .row {
  margin: 280px 316px;
  position: absolute;
  width: 1300px;
}

#capa img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 2px solid var(--tertiary-color);
  box-shadow: var(--tertiary-color) 0px 0px 15px;
}

#capa h1 {
  display: inline-block;
  position: relative;
  top: -180px;
  left: 120px;
}

#biografia {
  display: grid;
  grid-template-columns: 20rem 1fr 20rem;
  grid-template-rows: 1fr 10rem;
  grid-area: content;
  row-gap: 15rem;
  padding-top: 14rem;
}

.grid-item {

    text-align: center;
    margin: 1rem;
    display:grid;
}

.text {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 10rem;
    align-items: center;
    justify-content: center;
}
.content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-columns: 1rem 1fr 1fr 1rem;
    margin-bottom: 15rem;
}
.grid-item-item1 {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-right: 7rem;
}

.grid-item-item2 {
  margin-left: 7rem;
}

.text {
  color: var(--tertiary-color);
  box-shadow: var(--tertiary-color) 0 0 5px;
}


.item {
  padding: 1rem;
  background-color: var(--Bfume);
  border-radius: 1.2rem 0 1.2rem 0;
  box-shadow: var(--tertiary-color) 0 0 5px;
  color: var(--tertiary-color);
  transition: color, background-color .4s;
}

.item:hover {
  box-shadow: var(--primary-color);
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

figure {
  margin: 0;
}

.content img {
  height: 20rem;
  max-width: 25rem;
  min-width: 15rem;
  margin-bottom: 1rem;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  height: 100rem;
  
}

#tecnologias {
  background-color: var(--Bfume);
  width: 40%;
  height: 20rem;
  border-radius: 1.2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#tecnologias select {
  width: 90%;
  font-size: 2.5rem;

  color: var(--primary-color);
  background-color: var(--tertiary-color);
  text-align: center;
  border-radius: 1.2rem 0;

  -webkit-appearance: none;
  -moz-appearance: none;
}

#tecnologias .row {
  display: flex;
  flex-direction: row;
}

#tecnologias .col {
  display: flex;
  flex-direction: column;
}

#tecnologias input {
  width: 2rem;
  height: 2rem;
}

#tecnologias label {
  font-size: 2.2rem;
  color: var(--tertiary-color);
}

#tecnologias .center {
  margin: auto 18rem;
}

#tecnologias .topo {
  margin-bottom: 1rem;
}

#projetos {
  width: 90%;
  height: 50rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--Bfume);
}

#projetos h2 {
  margin: 3rem auto 4rem;
}

#projetos #slider {
  display: flex;
  align-items: center;
}

#projetos .slide {
  margin: auto 1rem;
}

#projetos img {
  width: 100%;
  border-radius: 1.2rem 0;
}

#projetos figcaption {
  position: relative;    

  top: -34rem;

  height: 31.8rem;
  width: 96.5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1.2rem 0;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--Wfume);
  padding: 1rem;
  opacity: 0;
  transition: opacity .4s;
}

#projetos figcaption:hover{
  opacity: 1;
}

#projetos figcaption h2 {
  font-size: 3.5rem;
}

#projetos figcaption ul {
  display: flex;
  list-style: none;
}

#projetos figcaption li {
  font-size: 1.8rem;
  margin-right: 1rem;
}

#projetos figcaption p {
  font-size: 1.8rem;
  line-height: 2rem;
}